## BEGIN PORTING THIS TEMPLATE FOR HARVESTER
## Lines below inject our data and notify util of this script's format, useful when accessing constants
#set($util = $data.get('util'))
#set($systemConfig = $data.get('systemConfig'))
$util.setData($data)
#set($item = $util.getItem())
#set($object = $util.getObject())
#set($oid = $object.getString('', 'objectId'))
## END PORTING THIS TEMPLATE FOR HARVESTER