#set($stringUtil = $data.get('stringUtil'))
<record>
	<header> 
	    <identifier>$data.get('jsonData').get('entityId')</identifier> 
	    <datestamp>$data.get('jsonData').get('dateStamp')</datestamp> 
	    <setSpec>Parties_People</setSpec> 
	</header> 
    <metadata>
      <oai_dc:dc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
          xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd" 
          xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" 
          xmlns:dc="http://purl.org/dc/elements/1.1/">
      
        <dc:title>$stringUtil.escapeXml($data.get('jsonData').get('salutation')) $stringUtil.escapeXml($data.get('jsonData').get('forename')) $stringUtil.escapeXml($data.get('jsonData').get('surname'))</dc:title>         
        <dc:description>$stringUtil.escapeXml($data.get('jsonData').get('description'))</dc:description> 
      
      </oai_dc:dc>
    </metadata>
</record>